/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
}

#root, .App {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  color: var(--primary-text-color);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  cursor: pointer;
}

button.clean {
  background-color: transparent;
  border: 0;
  line-height: 1;
  cursor: pointer;
}

.MuiPopover-paper {
  background-color: var(--bg-white) !important;
  color: var(--primary-text-color) !important;
}

.MuiDivider-root {
  border-color: var(--primary-text-color) !important;
}

.popover-button {
  background-color: transparent;
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 8px;
  padding: 10px;
  width: 100%;
}

.popover-button:hover, .popover-button:focus-visible {
  background-color: var(--button-hover-color);
}

.container {
  display: flex;
  flex-grow: 1;
}

.container main {
  width: 100%;
  padding: 16px;
  overflow: auto;
  scrollbar-color: var(--sidebar-scroll-color-moz);
  scrollbar-width: thin;
}

.container main::-webkit-scrollbar {
  width: 6px;
  background-color: var(--sidebar-scroll-color);
}
.container main::-webkit-scrollbar-thumb {
  background: var(--sidebar-scroll-color-thumb);
  -webkit-border-radius: 5px;
}

.widget {
  padding: 20px;
  background-color: var(--widget-bg);
  border-radius: 5px;
  box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.form-element:not(:last-child){
  margin-bottom: 10px;
}

.form-element label {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  background-color: transparent;
  color: var(--input-color);
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 5px;
}

.form-input::placeholder {
  color: var(--input-color);
  opacity: 0.6;
}

.form-input.invalid {
  border-color: rgb(245, 6, 6);
}

@media screen and (min-width: 600px){
  .form-element {
    flex-direction: row;
  }
}

.form-error {
  margin-top: 5px;
  color: rgb(255, 0, 0);
  font-size: .8125rem;
}

h1 {
  font-size: 1.5rem;
}

.MuiCard-root {
  background-color: var(--card-bg) !important;
  padding: .9375rem;
  color: var(--primary-text-color) !important;
}

.MuiDataGrid-root, .MuiTablePagination-root {
  color: var(--primary-text-color) !important;
}

.MuiDataGrid-root .MuiSvgIcon-root, .MuiTablePagination-root .MuiSvgIcon-root {
    fill: var(--primary-text-color);
}

.MuiInputLabel-root {
  color: var(--input-color) !important;
}

.MuiInputBase-root input {
  color: var(--input-color) !important;
}

.btn.variant {
  padding: 8px 12px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.btn.variant:hover {
  filter: brightness(1.1);
}

.btn[disabled]{
  background-color: #ccc !important;
  color: #6c757d !important;
  cursor: not-allowed;
}

.btn[disabled]:hover{
  filter: brightness(1) !important;
}

.form-button {
  padding: 15px !important;
  width: auto;
}

.btn.warning {
  background-color: #ee8c0d;
}
.btn.error {
  background-color: #e71607;
}
.btn.primary {
  background-color: #673ab7;
}

.header-with-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
  align-items: center;
}

@media screen and (min-width: 450px){
  .header-with-button {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }
  .header-with-button h1,h2,h3 {
    margin-bottom: 0;
  }
}