.form-group-input input, textarea {
    background-color: rgba(0, 0, 0, 0.06);
    color: var(--input-color);
    border: none;
    border-bottom: 1px solid #888c92;
    border-radius: 5px;
    font-weight: normal;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 16px 8px;
    &::placeholder {
        color: #888c92;
    }
}

.form-group-input label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.hasError {
    border-color: rgb(255, 0, 0) !important;
}

.form-group-mui {
    display: flex;
    flex-direction: column;
    gap: 5px;
    label {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .MuiAutocomplete-input {
        padding: 16px 8px !important;
        background-color: rgba(0, 0, 0, 0.06) !important;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .MuiAutocomplete-tag {
        background-color: var(--tag-bg) !important;
    }

    .MuiSvgIcon-root {
        fill: var(--input-color) !important;
    }
}