:root {
    --primary-button: #673ab7;
}

.theme-light {
    --bg-white: #ffffff;
    --header-bg: #fff;
    --primary-color: #673ab7;
    --primary-text-color: #222;
    --ui-element-bg: #fff;
    --sidebar-bg: rgb(251,251,255);
    --sidebar-color: #555;
    --sidebar-link-focused: rgb(235, 235, 240);
    --sidebar-scroll-color-moz: rgb(25, 25, 30) rgb(251, 251, 255);
    --sidebar-scroll-color: rgb(251, 251, 255);
    --sidebar-scroll-color-thumb: rgb(25, 25, 30);
    --widget-bg: rgb(255,255,255);
    --input-color: #222;
}

.theme-dark {
    --bg-white: #474545;
    --header-bg: #333;
    --primary-text-color: #fff;
    --primary-color: #c0a7ec;
    --ui-element-bg: #333;
    --button-hover-color: rgba(0, 0, 0, 0.2);
    --sidebar-bg: rgb(25,25,30);
    --sidebar-color: #eee;
    --sidebar-link-focused: rgba(40, 40, 47, 0.8);
    --sidebar-scroll-color-moz: rgb(25, 25, 30) rgb(251, 251, 255);
    --sidebar-scroll-color: rgb(25, 25, 30);
    --sidebar-scroll-color-thumb: rgb(251, 251, 255);
    --widget-bg: rgb(46, 45, 45);
    --input-color: #fff;
}